#promo{
  text-align:center;
  padding:40px;
  background:url(../../assets/img/37864.jpg);
  background-size:cover;
}

#promo .jumbotron{
  border-radius:20px;
  padding:40px;
  background-color:rgba(225,225,225,0.75);
  margin:0 auto;
  max-width:800px;
}

@media (min-width:1200px) {
  #promo .jumbotron{
    padding:20px;
  }
}

@media (min-width:1200px) {
  #promo{
    padding:20px;
  }
}

